{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}


{% block main %}
<table class="table-bordered table-dark">
    <thead>
        <tr>
            <th>
                <form action="/" method="post">
                <input type="date" id="date" name="date" value="{{ date_value }}">
                <button class="btn" style="background-color:#3bab82" type="submit">&#10003;</button>
                </form>
            </th>
            {% for  day in date["day"] %}
            <th>{{ date["week_days"][loop.index0] }} {{ day }}.{{ date["month"][loop.index0] }}.</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        
    </tbody>
</table>
{% endblock %}